.following-plug-container {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 25px;
}

.seller-tab-area .following-plug-container .nav-tabs {
    border: 0px;
}

.seller-tab-area .following-plug-container .nav-tabs > li{
    max-width: 148px;
    height: 40px;
    width: 100%;
    margin: 0px;
    
}

.seller-tab-area .following-plug-container .nav-tabs > li:last-child{
    max-width: 148px;
    height: 40px;
    width: 100%;
    border: 0px;
    margin: 0px;
    border-right: 0px;
}

.seller-tab-area .following-plug-container .nav-tabs > li.active > a, 
.seller-tab-area .following-plug-container .nav-tabs > li.active > a:focus, 
.seller-tab-area .following-plug-container .nav-tabs > li.active > a:hover  {
    background: #FFFFFF;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    border-right: 1px solid #C2C2C2;
}

.seller-tab-area .following-plug-container .nav-tabs > li:last-child.active > a {
    border-right: 1px solid #FFFFFF;
}

.seller-tab-area .following-plug-container .nav-tabs > li > a > span {
    border: 0px;
}

.seller-tab-area .following-plug-container .nav-tabs > li > a {
    margin: 0px;
    padding: 7px 0px;
}

.following-row {
    padding: 25px 34px;
    border-bottom: 2px solid #F0F0F0;
    display: flex;
    align-items: center;
}

.following-row:last-child {
    border-bottom: 0px solid #F0F0F0;
}

.following-row .following-links {
    display: flex;
    align-items: center;
    max-width: 238px;
}

.following-plug-container .tab-pane {
    background: #FFFFFF;
    padding: 0px 11px;
}

.following-image img {
    width: 45px;
    height: 45px;
}

.following-display-name {
    margin-left: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.following-actions {
    margin-left: auto;
    padding-left: 24px;
}

.following-button {
    background: #FFFFFF;
    border: 1px solid #4D4D4D;
    box-sizing: border-box;
    width: 99px;
    height: 29px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.following-button.remove {
    background: #ED6665;
    border: 1px solid #ED6665;
    color: #FFFFFF;
}

.following-plug-container .tab-pane {
    display: none;
}

.following-plug-container .tab-pane.active {
    display: block;
}


.following-button-con {
    margin-top: 15px;
}

.following-button-con .following-button {
    background: #EC6665;
    border: 1px solid #EC6665;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 6px 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
}

.following-button-con .following-button.follow {
    border: 1px solid #000000;
    background: transparent;
    color: #000000;
}

.store-merchant-info .following-button-con {
    margin-top: 0px;
    margin-bottom: 10px;
}